.CustomMenu {
    display: none;
}
.toggle-styling{
    float: right;
}
.menu-styling{
    display: flex !important;
}
.signout-styling{
    padding-right: 0.5rem;
}
.loading-msg{
height: 30rem;
}
.user-suspense{
  min-height: 50rem;
}

.move-top-styling{
    text-align: center;
    line-height: 2.7;
    width: 50px;
    height: 50px;
    background:  #C9C9C9;
    position: fixed;
    bottom: 2%; 
    right:4%;
    z-index: 9999;
    border-radius: 27%;
    cursor: pointer;
    opacity: 0.80;
}

.Show {
    visibility: visible;
}
.Hide {
    visibility: hidden;
}

@media only screen and (max-width: 767px) {
    .main-component-style .CustomMenu {
        display: inline-block!important;
        position: relative;
        top: 2%;
        z-index: 9999;
        width: 100%;
        background: #fff;
    }
    .CustomMenu.navbar-light .navbar-toggler {
        border-color: transparent;
        font-size: 16px;
    }
    .Header {
        float: right;
    }
    .menu-li-link-div-main {
        color: #fff;
    }
    .navbar-collapse {
        background: linear-gradient(561deg, rgb(0, 147, 223) 0%, rgb(0, 78, 180) 100%) 0% 0% no-repeat padding-box padding-box transparent;
        width: 100%;
    }
    .menu-li-link.active {
        border-bottom: none;
    }
    .navbar-collapse {
        position: absolute;
        right: 100%;
        width: 90%;
        top: 0;
        transition: all 0.5s ease;
        display: block;
        min-height: 55rem;
    }
    .navbar-collapse.collapsing {
        position: absolute;
        height: auto !important;
        margin-right: 50%;
        transition: all 0.5s ease;
        display: block;
    }
    .navbar-collapse.show {
        right: 10%;
    }
    .Prfile_Details {
        background: #fff;
        padding: 1rem;
    }
    .menu-li-link.active:parent {
        background: #0566A4;
    }
    .menu-li-list.nav-link {
        padding: 0;
        margin: 0;
    }
    .nav-link {
        padding: 1.1rem 0.78rem 0.4rem 0.78rem;
    }
    .nav-link>.menu-li-link.active {
        background: rgba(5, 102, 164, .52) !important;
    }
    .menu-li-link-div-main {
        padding-top: 0.5rem;
    }
    .menu-li-link {
        padding: 1rem 2rem 1rem;
        width: 100%;
    }
    .MA_UserOptions {
        position: absolute;
        z-index: 999999;
        display: block;
        background-color: #ffffff;
        box-shadow: 0px 0px 8px #b2b3b4;
        cursor: pointer;
        min-width: 14rem;
        /*to have same width of the dropdown menu with and without CMM*/
    }
    .MA_UserRoles {
        padding: .4rem .8rem;
        cursor: pointer;
        /* border-bottom: solid 1px #ccc; */
    }
    .navbar-light .navbar-nav .nav-link.SignOut {
        padding: 1rem 2rem 1rem;
        color: #fff;
        opacity: 0.5;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    .navbar-light .navbar-nav .nav-link.active.SignOut {
        color: #fff;
    }
    .MA_ProfilePicture_container img {
        height: auto;
        border-radius: 100%;
    }
    .menu-header {
        display: none;
    }
    .MA_DownArrowIcon {
        display: none;
    }
    .menu-li-link.roleSwitch {
        padding-right: 0.5rem;
        font-size: 16px;
        font-family: 'Myriad-Pro';
        position: relative;
        bottom: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    .navbar-light .roleSwitch .dropdown-toggle.nav-link, .navbar-light .navbar-nav .show>.dropdown-toggle.nav-link {
        color: #fff;
    }
    .navbar-light .navbar-nav .dropdown-toggle.nav-link:focus, .navbar-light .navbar-nav .dropdown-toggle.nav-link:hover {
        color: #fff;
    }
    .dropdown-menu.show {
        background-color: #ffffff;
        box-shadow: 0px 0px 8px #b2b3b4;
        cursor: pointer;
    }
    .menuBar .navbar-toggler {
        padding: 0;
    }
    .menuBar .menu-li-link {
        top: 0;
    }
    .navbar-nav .dropdown-menu.show {
        float: left;
    }
    /* .blur{
        overflow: hidden;
    } */
    .blurBack {
        transition: all 0.5s ease;
        -webkit-filter: opacity(.2);
        filter: opacity(.2);
    }
}

/* added for Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
    .main-component-style .CustomMenu{
        display: none !important;
    }
    .MA_Header {
        padding: 1rem;
    }
    .MA_Header_Title_Wrapper {
        top: 1.5rem;
    }
    .Title-Mobile{
        display: none;
    }
    .MA_Notification_Icon_Wrapper {
        margin: 1rem;
    }
    .menu-li-list {
        padding: 0.5rem 0;
    }
}
